body{
    background-color: burlywood;
    }
    
@font-face {
   font-family:"ballpark";
   src: url("../fuentes/ballpark.woff");
 }

 @font-face {
   font-family:"dayrom";
   src: url("../fuentes/dayrom.woff");
 }

    h1{
        position:relative;
        top:12px;
        left:70px;
        bottom: 110px;
        z-index: 3;
        width: 50%;
        height: 50%;
        font-family:"ballpark";
    
    }
    a{
       color: black;
    }
    #imagen1{
    
        position:absolute;
        top:3%;
        left:1.5%;
        bottom: 5px;
        z-index: 3;
        width: 4.5%;
        height: 5%;     
    
    }    

   #sanfrancisco {

      border-radius: 10px;
      margin-left: 0%; 
      margin-bottom: 30px;
      
       
  
  }
    
    #imagen2{
    
        position:absolute;
        top: 61%;
        left:2%;
        bottom: 10px;
        z-index: 4px;
        width: 3%;
        height: 4%;     
    
    }
    
    nav { 
        
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:absolute;
        top:6%;
        left:16%;
        bottom: 110px;
        width: 50%;
        height: 50%
    
    
    
    }
    
    h2{
        position:relative;
        top:30px;
        left:70px;
        bottom: 110px;
        z-index: 3;
        width: 50%;
        height: 50%;
        font-family:"dayrom";

            
    
    }
    #div1{
        margin-left: 2%;
        margin-right: 30%;
       
    }
    
    
    
     #div2{
    
        background-color: darkslategray;
        position:absolute;
        top: 50%;
        left: 70%;
        bottom: 10px;
        width: 350px;
        height: 443px;
        border-radius: 10px;
        margin-left: 0%; 
        margin-bottom: 30px;
        padding: 0%; 
        
        
     }
    
     #div3{
    
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position:absolute;
        top: 46%;
        left: 66%;
        bottom: 10px;
        width: 390px;
        height: 390px;
        border-radius: 10px;
        margin-left: 0%; 
        margin-bottom: 30px;
        padding: 0%; 
        color: white;
    
    
     }
    
    
     #div4{
    
        font-family:"dayrom";
        position:absolute;
        top: 104%;
        left: 350px;
        bottom: 10px;
        width: 390px;
        height: 390px;
        
    
    
     }
    
     #div5{
        
    
        font-family:"dayrom";
        position:absolute;
        top: 102.5%;
        left: 900px;
        bottom: 10px;
        width: 390px;
        height: 390px;
            
        
        
    }
    
     #imagen3{
         
        position:absolute;
        top:55%;
        left:71%;
        bottom: 100px;
        width: 200px;
        height: 290px;
        margin-right: 30%;
    
    
    
    
    
     }
     #imagen4{
         
        position:absolute;
        top:88%;
        left:71%;
        bottom: 110px;
        z-index: 3;
        width: 4%;
        height: 4%;
        margin-right: 40%;
    
    
    
    
    
     }
    
     #imagen5{
         
        position:absolute;
        top:88%;
        left:75%;
        bottom: 110px;
        z-index: 3;
        width: 4%;
        height: 4%;
        margin-right: 40%;
    
    
    
    
    
     }
     #imagen6{
         
        position:absolute;
        top:88%;
        left:79%;
        bottom: 110px;
        z-index: 3;
        width: 4%;
        height: 4%;
        margin-right: 40%;
    
    
    
    
    
     }
     #imagen7{
         
        position:absolute;
        top:108%;
        left:605px;
        bottom: 110px;
        z-index: 3;
        width: 5%;
        height: 5%;
        margin-right: 40%;
        border: 2px solid black;
    
    
    
    
     }
     #imagen8{
         
        position:absolute;
        top:108%;
        left:520px;
        bottom: 110px;
        z-index: 3;
        width: 5%;
        height: 5%;
        margin-right: 40%;
        border: 2px solid black;
    
    
    
    
     }
     #imagen9{
         
        position:absolute;
        top:108%;
        left:435px;
        bottom: 110px;
        z-index: 3;
        width: 5%;
        height: 5%;
        margin-right: 40%;
        border: 2px solid black;
    
    
    
    
     }
     #imagen10{
         
        position:absolute;
        top:108%;
        left:350px;
        bottom: 110px;
        z-index: 3;
        width: 5%;
        height: 5%;
        margin-right: 40%;
        border: 2px solid black;
    
     }
    
     #imagen11{
         
        position:absolute;
        top:101.8%;
        left:600px;
        bottom: 110px;
        z-index: 3;
        width: 5%;
        height: 5%;
        margin-right: 40%;
        
    
     }
    
     #imagen12{
         
        position:absolute;
        top:58%;
        left:68.7%;
        bottom: 100px;
        width: 17px;
        height: 17px;
        margin-right: 30%;
    
    
     }
    
    #imagen13{
        
       position:absolute;
       top:88%;
       left:83%;
       bottom: 110px;
       z-index: 3;
       width: 4%;
       height: 4%;
       margin-right: 40%;
    
    
    }